.timer-grid{
  .timer-groups{
    label {
      padding: 5px;
      display: inline-block;
      font-size: 12px;
      margin: 5px;

      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }

      &.active {
        opacity: 0.6;
      }
    }
  }

  .side-menu {
    .middle {
      text-align: center;
      margin-top: 40%;
    }
  }

  .no-timers {
    margin-top: 5em;
  }
}


