nav.navbar-inverse{

}


.help-link {
    font-size: 3rem;
    margin:0;
    margin-left: 1em;
    height: 50px;
    color: $fontC;
    i { margin-top: 0.35em; }
    &:hover {
        cursor: pointer;
        color: lighten($fontC, 30);
    }
  }
