header {
  nav {
    p {
      display: block;
      position: relative;
      line-height: 28px;
      padding: 10px 15px;
      margin: 0;
    }

    .logout {
      background-color: black;
      &:hover {
        cursor: pointer;
        font-weight: bold;
      }
    }
  }

  .invitation-alert {
    line-height: 50px;
  }
}
