.side-menu {
  color: $fontC;
  position: relative;
  height: 100%;
  .middle {
    text-align: center;
    margin-top: 40%;
  }

  .timer-groups{
    label {
      padding: 5px;
      display: inline-block;
      font-size: 12px;
      margin: 5px;

      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }

      &.active {
        opacity: 0.6;
      }
    }
    button {
      font-size: 10px;
    }
  }

  .bottom-settings {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(34, 34, 34);
    text-align: center;
    padding: 15px;

    form {
      padding: 10px;
      button {
        margin-top: 5px;
      }
    }
    button {
      font-size: 10px;
    }
  }
}

.permission-management {

  .list-group-item {
    color: black;
    line-height: 45px;
    padding: 2.5px;
    p {
      margin: 0;
      &.small {
        line-height: 12px;
        opacity: 0.8;
      }
    }
  }

  form[name="groupPermissions"] {
    div[class^="col-md"]{
      input{
        width: 90%;
      }
    }
  }

}
