timer-element {

  h5 {
    font-size: 12px;

    span{ font-size: 10px; }
    p { span {
      font-size: 11px;
    }}
  }

  .inner-timer {
    background-color: #5C5854;
    border-color: darken(#293438, 30);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 60%;

    .btn-group {
      padding: 15px;
    }
  }

  .header {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 0.5em;
    background: lighten(#293438, 10);
    border-bottom: 1px solid black;
    h5 {
      font-size: 14px;
      margin: 0;
    }
  }


  .progress {
    width: 100%;
    border-radius: 0;
    margin-bottom: 5px;
  }

}