@import 'colors';

html, body {
  background-color: $lightB;
  color: $fontC;
}

.container {
  max-width: 1480px;
}

nav.navbar-inverse{
  background-color: $darkerB;
  border-color: $darkB;
  color: black;
  h2 {
    margin: 5px;
  }
}

h1, h2, h3, h4, h5 {
  color: $fontC;
  font-family: 'Ubuntu', sans-serif;
}

p, li, a, span, button, input {
  font-family: 'Abel', sans-serif;
}

.side-bar {
  height: 100%;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 2em;
  border: 1px solid $darkB;

}

.form-group {
  input.form-control {
    background-color: $lightB!important;
    border-color: $darkB;
    color: $fontC;
  }
}

button.btn.btn-primary {
  background-color: #85522D;
  color: $lightB;
  &:disabled {
    &:hover {
      background-color: #85522D;
      color: $lightB;
    }
    opacity: 0.4;
  }
  &:hover {
    background-color: $lightB;
    color: $fontC;
  }
}

.socket-connection {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  font-size: 18px;
  z-index: 10;
  background-color: $warning;
  padding-left: 2em;
  padding-top: 0.5em;
  color: $lightB;

}


