@import 'colors';
@import 'general';
@import 'squareSpinner';
@import 'header';
@import 'dashboard';
@import 'customerTimerButton';
@import 'timerElement';





html, body {
  color: $fontC;
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  overflow-x: hidden;
}

.cover {
  opacity: 0.6;
  background: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
}

.side-menu {
  position: relative;
  height: 100%;
  .middle {
    text-align: center;
    margin-top: 40%;
  }

  .timer-groups{
    label {
      padding: 5px;
      display: inline-block;
      font-size: 12px;
      margin: 5px;

      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }

      &.active {
        opacity: 0.6;
      }
    }
    button {
      font-size: 10px;
    }
  }

  .bottom-settings {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(34, 34, 34);
    text-align: center;
    padding: 15px;

    form {
      padding: 10px;
      button {
        margin-top: 5px;
      }
    }
    button {
      font-size: 10px;
    }
  }
}

.socket-connection {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  font-size: 18px;
  z-index: 10;
  background-color: $warning;
  padding-left: 2em;
  padding-top: 0.5em;
  color: $lightB;
}

