@import 'colors';
@import 'general';
@import 'squareSpinner';
@import 'header';
@import 'dashboard';
@import 'sidemenu';
@import 'customerTimerButton';
@import 'timerElement';
@import 'settings';


html, body {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  overflow-x: hidden;
}

.main {
  margin-top: 70px;
}

.cover {
  opacity: 0.8;
  background: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
}


.socket-connection {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  font-size: 18px;
  z-index: 10;
  background-color: $warning;
  padding-left: 2em;
  padding-top: 0.5em;
  color: $lightB;
}


.faq {
  color: $fontC;

  .faq-content {
    padding: 3em;
  }
}

.question-answer-block {
  margin-bottom: 4em;
}
