<form name="customTimerForm"
      ng-show="showPanel === true"
      ng-class="{
        'form form-inline': inline
      }"
      ng-submit="submit()">
    <div ng-show="formSuccess" class="alert alert-success pull-left">
        <p>Time added!</p>
    </div>

    <div ng-show="formError" class="alert alert-danger pull-left">
        <p>{{ formError}}</p>
    </div>
    <h4>Add Timer</h4>
    <p class="small">Add a timer where the duration follows the following format: <b>4h20m30s</b></p>
    <div class="form-group">
        <input name="duration"
               type="text"
               required
               ng-pattern="durationPattern"
               ng-model="formData.duration"
               class="form-control"
               placeholder="Duration">
    </div>
    <div class="form-group">
        <input name="label"
               required
               ng-model="formData.label"
               type="text"
               class="form-control"
               placeholder="Label">
        <button type="submit"
                ng-disabled="customTimerForm.$invalid"
                class="btn btn-default btn-sm pull-right">
            Create
        </button>
    </div>
</form>
