<form name="customTimerForm" ng-submit="submit()">
    <div ng-show="formSuccess" class="alert alert-success">
        <p>Time added!</p>
    </div>

    <div ng-show="formError" class="alert alert-danger">
        <p>{{ formError}}</p>
    </div>
    <div class="form-group">
        <input name="duration"
               type="text"
               required
               ng-pattern="durationPattern"
               ng-model="formData.duration"
               class="form-control"
               placeholder="Duration">
    </div>
    <div class="form-group">
        <input name="label"
               required
               ng-model="formData.label"
               type="text"
               class="form-control"
               placeholder="Label">
    </div>
    <button type="submit"
           ng-disabled="customTimerForm.$invalid"
           class="btn btn-block btn-primary">
        Create
    </button>
</form>
