<h4>Manage Permissions</h4>

<ul ng-show="user_access.length" class="list-group" >
    <li ng-repeat="user in user_access" class="list-group-item" ng-class="{ 'disabled': !user.approved}">
        <span class="badge">{{ user.privilege }}</span>
        <p>
            {{ user.profile_name }} -
            <span class="small" ng-show="user.approved">Approved</span>
            <span class="small" ng-show="!user.approved">Pending</span>
        </p>
    </li>
</ul>

<p class="text-center" ng-show="!user_access.length">
    No users invited
</p>

<form name="groupPermissions"
    class="form form-inline"
    ng-submit="submit()">
    <p class="small">Enter the <i>profile name</i> of the person who invited you to this timer board.</p>
    <p ng-if="error" class="text-danger">
        {{ error }}
    </p>
    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <label>Profile Name</label>
                <input  placeholder="Profile Name"
                        required
                        class="form-control"
                        ng-model="formData.profile_name"
                        name="name" type="text"/>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label>Permission</label>
                <select ng-options="key.name as key.name for key in permissions"
                        class="form-control"
                        required
                        ng-model="formData.permission_grant"
                        name="permission" >
                </select>
            </div>
        </div>
    </div>
    <button class="btn btn-block btn-primary" ng-disabled="groupPermissions.$invalid" type="submit">Invite User</button>
</form>
