<div class="timer" ng-class="{ 'shake-chunk shake-constant shake-constant--hover' : hasStopped && !noShake }" ng-click="acknowledge()">
    <timer countdown="durationSeconds" interval="1000" auto-start="false">
        <div class="inner-timer">
            <div class="header row">
                <div class="col-sm-8">
                    <h5>{{ $parent.timerConfig.label }}
                        <span class="muted small"> - {{ $parent.timerConfig.duration}}</span>
                    </h5>
                </div>
                <div class="col-sm-1 hidden-xs"></div>
                <div class="col-sm-3">
                    <button class="btn btn-link pull-right"><i class="fa fa-gear"></i></button>
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar pull-left progress-bar-{{status}}"
                     style="min-width: 1em;width: {{progressBar}}%;"></div>
            </div>
            <div ng-if="hasStopped && !noShake">
                <span class="text-center muted">Click the timer to STOP the shaking.</span>
            </div>
            <p class="text-center">
                <span ng-bind="$parent.getRemainingTime(countdown)"></span>
            </p>
            <div class="btn-group text-center" ng-if="hasAuth">
                <button class="btn btn-sm btn-default" ng-click="resetTimer()">Reset</button>
                <button class="btn btn-sm btn-warning" ng-click="removeTimer()"><i class="fa fa-times"></i></button>
            </div>
            <div class="clearfix"></div>
        </div>
    </timer>
</div>

