<!-- Page Content -->
<div class="row">
    <div class="col-sm-3">
        <h3>Timers</h3>
        <div class="row" ng-controller="timeSelectionCtrl">
            <!--
            <p class="small text-muted">Common</p>
            <timer-button ng-repeat="time in getCommonTimers()" duration="{{ time.duration }}"></timer-button>
            -->
            <p class="small text-muted">Custom</p>
            <custom-timer-button></custom-timer-button>
        </div>
    </div>
    <div class="col-sm-9">
        <h3>Active Timers</h3>
        <div class="row" ng-controller="timerGridCtrl">
            <h4 ng-if="!activeTimers.length" class="text-center muted">No Timers</h4>
            <timer-element ng-repeat="timer in activeTimers" timer-config="timer"></timer-element>
        </div>
    </div>
</div>
