<!-- Page Content -->
<div ng-controller="dashboardCtrl">
    <div class="row">
        <div class="col-xs-12">
            Next Action area
            {{ hello }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3>Common Timers</h3>
            <button class="btn btn-sm btn-default">6m 20s</button>
            <button class="btn btn-sm btn-default">22m</button>
        </div>
        <div class="col-sm-9">
            <h3>Active Timers</h3>
        </div>
    </div>
</div>
