<div class="faq row ">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 faq-content"  style="background: black;">
        <h2>FAQ / Guide</h2>
        <div class="question-answer-block">
            <h3 class="question">What does this do ?</h3>
            <p class="answer">You can create "timer groups" those timer groups can be thought of as buckets of timers.  Each group can be shared with specific individuals based on the owner(s) choosing. At the moment there is only one type of permission that can be granted</p>
            <ul>
                <li>Authorization / Login / Registration</li>
                <li>Management of federated timer groups</li>
                <li>Creation of timers inside timer groups</li>
                <li>Real time updates for users looking at the same board. </li>
                <li>Sharing of timer groups ( no distinction between roles at this time - all are owners) </li>
            </ul>
        </div>

        <div class="question-answer-block">
            <h3 class="question">How do I use this application ?</h3>
            <p> Upon registration / login you will see something similar to the image below. The first thing you will want to do is create a new timer group found via the form in the bottom left hand corner.</p>
            <p>The leftmost picture below has three section markers which will be used in later parts of the guide.</p>
            <p class="text-success">
                Account / Invitation Management ( top right )
            </p>
            <p class="text-info">
                Menu (top left)
            </p>
            <p class="text-danger">
                Controls ( bottom left)
            </p>
            <div class="row">
                <div class="col-xs-8">
                    <img class="img-responsive" src="/images/walkthrough/interface.png"/>
                </div>
                <div class="col-xs-4">
                    <img class="img-responsive" src="/images/walkthrough/addGroup.png"/>
                </div>
            </div>
            <hr>
            <p>Once you have added a group you will see it appear underneath the MENU. Click on this group to select it. You will see the screen / controls change to a new section.
                <br>
                <br>
                Buttons on the controls section are split into TWO GROUPS - "Timers" and "Group" control sections.
            </p>
            <ul>
                <li>Timer Section
                    <ul>
                        <li><i class="fa fa-plus text-info"></i>  Adds a new timer</li>

                    </ul>
                </li>
                <li>Group Section
                    <ul>
                        <li><i class="fa fa-plus text-primary"></i>  Adds a new group</li>
                        <li><i class="fa fa-user text-info"></i>  Manage permissions for the selected group</li>
                        <li><i class="fa fa-gear text-warning"></i>  Edit's currently selected group's name / description</li>
                        <li><i class="fa fa-trash text-danger"></i>  Deletes the currently selected group and all associated timers / initiations</li>
                    </ul>
                </li>
            </ul>

            <div class="row">
                <div class="col-xs-6">
                    <img class="img-responsive" src="/images/walkthrough/controls.png"/>
                </div>
                <div class="col-xs-6">
                    <img class="img-responsive" src="/images/walkthrough/fullTimers.png"/>
                </div>
            </div>
        </div>

        <div class="question-answer-block">
            <h3 class="question">What does not do?</h3>
            <p class="answer">
                Parse your client logs or interact with your physical machine / game.
            </p>
        </div>

        <div class="question-answer-block">
            <h3 class="question">What is the intent of this project?</h3>
            <p class="answer">To provide a integrated easy to use place to share timers and aggregate mob tracking efforts.</p>
        </div>

        <div class="question-answer-block">
            <h3 class="question">How can I help?</h3>
            <p class="answer">Use the application ! Submit bug reports ! If you are a progamer or interested in helping in other capacities - get in touch! </p>
            <p class="text-success">
                <strong>Request a feature: </strong> <a href="https://github.com/orloc/sfTimerApp/issues" target="_blank">@github</a>
            </p>
            <p class="text-info">
                <strong>Submit a pull request: </strong> <a href="https://github.com/orloc/sfTimerApp/pulls" target="_blank">@github</a>
            </p>
            <p class="text-danger">
                <strong>Submit a bug report: </strong> <a href="https://github.com/orloc/sfTimerApp/issues" target="_blank">@github</a>
            </p>
            <p class="text-warning">
                <strong>Short guide on good bug reports</strong>
                <br>
                PLEASE ADD AS MUCH INFORMATION / screen shots / steps to reproduce as you can. Try and explain every detail of the problem - be very specific - specify what you INTENDED to do and what actually happened.
            </p>
        </div>

        <div class="question-answer-block">
            <h3 class="question">X does not do Y like I expect it to - HELP! </h3>
            <p class="answer">This is an alpha project with work / features that are incomplete and may have bugs.</p>
            <p class="text-danger">
                <strong>Submit a bug report:</strong> <a href="https://github.com/orloc/sfTimerApp/issues" target="_blank">@github</a>
            </p>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>
