<!-- Page Content -->
<div class="row">
    <div class="col-sm-3 side-menu" ng-controller="sideBarCtrl">
        <div class="row timer-groups">
            <label class="label label-info"
                   ng-class='{
                     "active": activeGroup !== null && activeGroup.id === group.id
                   }'
                   ng-click="selectGroup(group)"
                   ng-repeat="group in groups">
                {{ group.name }}
            </label>

        </div>
        <div ng-show="activeGroup === null">
            <h3 class="middle">Select or Add a group to proceed</h3>
        </div>
        <h4 ng-show="activeGroup !== null">{{ activeGroup.name}}</h4>
        <p class="small muted">{{ activeGroup.description }}</p>


        <div class="bottom-settings col-sm-3" ng-show="activeGroup === null">
            <div class="pull-right">
                <p class="small muted">Group</p>
                <button class="btn btn-small btn-primary">Add group</button>
            </div>
        </div>
        <div class="bottom-settings col-sm-3" ng-show="activeGroup !== null">
            <custom-timer-form ng-if="activeForm == forms.addTimer " timer-group="activeGroup"></custom-timer-form>
            <add-edit-group-form ng-if="activeForm === forms.editGroup " existing-group="activeGroup"></add-edit-group-form>
            <add-edit-group-form ng-if="activeForm === forms.addGroup" existing-group="false"></add-edit-group-form>
            <delete-group-form ng-if="activeForm === forms.deleteGroup " existing-group="activeGroup"></delete-group-form>

            <div class="pull-left">
                <p class="small muted">Timers</p>
                <button ng-click="toggleForm(forms.addTimer)"  class="btn btn-small btn-info pull-left"><i class="fa fa-plus"></i></button>
            </div>
            <div class="pull-right">
                <p class="small muted">Group</p>
                <div class="btn-group">
                    <button ng-click="toggleForm(forms.addGroup)" class="btn btn-small btn-primary"><i class="fa fa-plus"></i></button>
                    <button ng-click="toggleForm(forms.editGroup)" class="btn btn-small btn-warning"><i class="fa fa-gear"></i></button>
                    <button ng-click="toggleForm(forms.deleteGroup)" class="btn btn-small btn-danger"><i class="fa  fa-trash"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Grid Section -->
    <div class="col-sm-9 timer-grid" ng-controller="timerGridCtrl">
        <h4 ng-if="!activeTimers.length && activeGroup !== null" class="text-center muted no-timers">No Timers</h4>
        <timer-element
                class="col-sm-4 col-md-3"
                ng-repeat="timer in activeTimers" timer-config="timer"></timer-element>
    </div>
</div>

