<nav class="navbar navbar-inverse" role="navigation" ng-controller="headerCtrl">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <h2>EQ Timers</h2>
    </div>

    <div class="pull-right"
         ng-show="isAuthed">

      Logged in as: <strong>{{ currentUser.username }}</strong>
      <a ng-click="logout()">Logout</a>
      <a ng-click=""  class="help-link" style="display: inline">
        <i class="fa fa-question-circle-o "></i>
      </a>
    </div>

  </div>
  <!-- /.container -->
</nav>

